{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/playfounds/playfounds-detail.css' %}">
{% endblock head %}

{% block content %}
<section class="top-section">
  <h2>{{ playfound.location}}</h2>
  <h3>{{ playfound.name }}: {{ playfound.description }}</h3>
</section>

<section class="middle-section">
  {% if playfound.image %}
      <img src="{{ playfound.image.url }}" alt="{{ playfound.name }} image">
  {% else %}
      <p>No images available for this location.</p>
  {% endif %}
</section>

<section class="bottom-section">
  <h2>Activities at this location</h2>
  <ul>
      {% for activity in playfound.activities.all %}
          <li>{{ activity.name }}: {{ activity.description }}</li>
      {% empty %}
          <p>No activities available for this location.</p>
      {% endfor %}
  </ul>
</section>

<section> 
  <div class="playfound-actions">
    <a href="{% url 'playfound-update' playfound.id %}" class="btn warn">Edit</a>
    <a href="{% url 'playfound-delete' playfound.id %}" class="btn danger">Delete</a>
  </div>
</section>

{% endblock content %}